* { padding: 0; margin: 0; }

li { text-decoration: none; list-style-type: none; clear: both; }

body { font-family: arial, helvetica, sans-serif; background-color: #cccccc; }

.wrapper { height: 100%; }

.mainbody { margin: 0em auto; width: 65%; background-color: white; }
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset { border: 1px solid #dddddd; padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; line-height: 30px; }

    fieldset ul li label { float: left; width: 150px; }

    fieldset ul li input { width: 180px; }

legend { font-size: 1.2em; font-weight: bold; }

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error { color: red; }

.field-validation-valid { display: none; }

.input-validation-error { border: 1px solid red; background-color: #ffeeee; }

.validation-summary-errors { font-weight: bold; color: red; }

.validation-summary-valid { display: none; }
