
<div class="userUI">
    <div>
        EMail
    </div>
    <div>
        <input type="text"  placeholder="Email"/>
    </div>
    <div>
        Password
    </div>
    <div>
        <input type="text"  placeholder="password"/>
    </div>
    <div>
        <input type="button" style="width: 100%" value="Sign in"/>
    </div>
    <div>
        <a href="#">Create Account</a>
    </div>
</div>